<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <title>Mal</title>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
<body th:attr="hx-headers='{&quot;' + ${_csrf.headerName} + '&quot;: &quot;' + ${_csrf.token} + '&quot;}'">
<main class="container" th:fragment="paameldt">
    <section>
        <h2>Du er nå påmeldt</h2>
        <!--/*@thymesVar id="utstiller" type="no.hvl.peristeri.feature.bruker.Bruker"*/-->
        <div class="grid" style="grid-template-columns: auto 1fr; gap: 0.5rem;" th:object="${utstiller}">
            <strong>Navn:</strong><span th:text="|*{fornavn} *{etternavn}|"></span>
            <strong>Adresse:</strong> <span th:text="*{adresse}"></span>
            <strong>E-post:</strong> <span th:text="*{epost}"></span>
            <strong>Telefon:</strong> <span th:text="*{telefon}"></span>
            <strong>Forening:</strong> <span th:text="*{forening}"></span>
            <strong>Totalpris:</strong> <span th:text="${session.totalPris} + ' kr'"></span>
        </div>
    </section>
    <section>
        <table>
            <thead>
            <tr>
                <td>Rase</td>
                <td>Farge</td>
                <td>Variant</td>
                <td>Hanner (Ung)</td>
                <td>Hanner (Eldre)</td>
                <td>Hunner (Ung)</td>
                <td>Hunner (Eldre)</td>
                <td>Ikke eget</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="due : ${session.dueDTOListe?.liste}">
                <td><span th:text="${due.rase}">Rase</span></td>
                <td><span th:text="${due.farge}">Farge</span></td>
                <td><span th:text="${due.variant}">Variant</span></td>
                <td><span th:text="${due.hannerUng}">Hanner ung</span></td>
                <td><span th:text="${due.hannerEldre}">Hanner eldre</span></td>
                <td><span th:text="${due.hunnerUng}">Hunner ung</span></td>
                <td><span th:text="${due.hunnerEldre}">Hunner eldre</span></td>
                <td><span th:text="${due.ikkeEget} ? 'Ikke eget' : 'Egen'">0</span></td>
            </tr>
            </tbody>
        </table>

        <article>
            <header><b th:text="${session.utstilling.tittel}"></b></header>
            <p><strong>Arrangør:</strong> <span th:text="${session.utstilling.arrangoer}"></span></p>
            <p><strong>Sted:</strong> <span th:text="${session.utstilling.adresse}"></span></p>
            <p><strong>Startdato:</strong> <span th:text="${session.utstilling.datoRange.startDate}"></span></p>
            <p><strong>Sluttdato:</strong> <span th:text="${session.utstilling.datoRange.endDate}"></span></p>
        </article>
    </section>
</main>


</body>
</html>
