<div id="resultat-liste">
    <h2>Påmeldte duer</h2>
    <button th:hx-get="@{/bruker/paamelding/{id}/dueliste(id=${paamelding.id})}"
            hx-target="#resultat-liste" hx-swap="outerHTML">
        Se dueliste
    </button>
    <table class="striped">
        <thead>
        <tr>
            <th>Ringnummer</th>
            <th>Burnummer</th>
            <th>Poeng</th>
            <th>Detaljer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${paamelding.duer}">
            <td th:text="${d.ringnummer}">Ringnummer</td>
            <td th:text="${d.burnummer}">Burnummer</td>
            <td th:text="${d.bedommelse?.poeng} ?: 'Ikke bedømt'">Poeng</td>
            <td>
                <button th:if="${d.bedommelse}"
                        th:hx-get="@{/due/{id}/bedommelse(id=${d.id})}"
                        hx-target="#modal-container" hx-swap="innerHTML">
                    Detaljer
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button id="endre-ringnr" class=""
            th:hx-get="@{/bruker/paamelding/{id}/ringnumre(id=${paamelding.id})}"
            hx-target="#resultat-liste" hx-swap="outerHTML">
        Legg til eller endre ringnumre
    </button>
</div>

<th:block th:if="${ulesteBedommelser != null}">
    <span th:id="'bruker-meny-knp-badge'"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge bedommelse-varsel-prikk"
          th:style="${ulesteBedommelser > 0} ? '' : 'display: none;'"
          aria-label="Du har nye bedømmelser"></span>

    <span th:id="'bedommelse-notifikasjon-badge'"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:text="${ulesteBedommelser > 0 ? ulesteBedommelser : ''}"
          th:style="${ulesteBedommelser > 0} ? '' : 'display: none;'"></span>

    <span th:id="'resultater-notifikasjon-badge'"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:text="${ulesteBedommelser > 0 ? ulesteBedommelser : ''}"
          th:style="${ulesteBedommelser > 0} ? '' : 'display: none;'"></span>
</th:block>

