<div id="resultat-liste">
    <h2>Påmeldte duer</h2>
    <button th:hx-get="@{/bruker/paamelding/{id}/dueliste(id=${paamelding.id})}"
            hx-target="#resultat-liste" hx-swap="outerHTML">
        Se dueliste
    </button>
    <table class="striped">
        <thead>
        <tr>
            <th>Ringnummer</th>
            <th>Burnummer</th>
            <th>Poeng</th>
            <th>Detaljer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${paamelding.duer}">
            <td th:text="${d.ringnummer}">Ringnummer</td>
            <td th:text="${d.burnummer}">Burnummer</td>
            <td th:text="${d.bedommelse?.poeng} ?: 'Ikke bedømt'">Poeng</td>
            <td>
                <button th:if="${d.bedommelse}"
                        th:hx-get="@{/due/{id}/bedommelse(id=${d.id})}"
                        hx-target="#modal-container" hx-swap="innerHTML">
                    Detaljer
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button id="endre-ringnr" class=""
            th:hx-get="@{/bruker/paamelding/{id}/ringnumre(id=${paamelding.id})}"
            hx-target="#resultat-liste" hx-swap="outerHTML">
        Legg til eller endre ringnumre
    </button>
</div>

<th:block th:if="${ulesteBedommelser != null}">
    <span id="bruker-meny-knp-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge bedommelse-varsel-prikk"
          th:if="${ulesteBedommelser > 0}"
          aria-label="Du har nye bedømmelser"></span>
    <span id="bruker-meny-knp-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge bedommelse-varsel-prikk"
          th:if="${ulesteBedommelser <= 0}"
          style="display: none;"></span>
    <span id="bedommelse-notifikasjon-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:if="${ulesteBedommelser > 0}"
          th:text="${ulesteBedommelser}"></span>
    <span id="bedommelse-notifikasjon-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:if="${ulesteBedommelser <= 0}"
          style="display: none;"></span>

    <span id="resultater-notifikasjon-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:if="${ulesteBedommelser > 0}"
          th:text="${ulesteBedommelser}"></span>
    <span id="resultater-notifikasjon-badge"
          hx-swap-oob="outerHTML"
          class="bedommelse-varsel-badge"
          th:if="${ulesteBedommelser <= 0}"
          style="display: none;"></span>
</th:block>

