<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <title>Footer</title>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
<body th:attr="hx-headers='{&quot;' + ${_csrf.headerName} + '&quot;: &quot;' + ${_csrf.token} + '&quot;}'">
<footer class="container">
    <div th:fragment="footer" id="footer">
        <hr/>
        <p><strong>Bergen praktdueforening</strong></p>
        <div>
            <ul>
                <li th:if="${#lists.isEmpty(footerKontaktpersoner)}">Ingen kontaktpersoner registrert enda.</li>
                <li th:each="kontakt : ${footerKontaktpersoner}">
                    <span th:text="${kontakt.rolle + ' ' + kontakt.navn}">Formann Johny Larsen</span>
                    <span th:if="${kontakt.telefon != null and !kontakt.telefon.isBlank()}" th:text="${' - Tlf: ' + kontakt.telefon}"></span>
                    <span th:if="${kontakt.epost != null and !kontakt.epost.isBlank()}" th:text="${' - Epost: ' + kontakt.epost}"></span>
                </li>
            </ul>
        </div>
        <div th:if="${@environment.acceptsProfiles('dev')}">
            <p>Development Mode</p>
            <p>Åpne <a href="http://localhost:8181/h2-console?jdbcUrl=jdbc:h2:mem:testdb&user=sa&password="
                       target="_blank" rel="noopener noreferrer">H2-console</a> for å inspisere database</p>
            <script src="http://localhost:35729/livereload.js"></script>
        </div>
        <div th:if="${@environment.acceptsProfiles('demo')}">
            <p>Demo Mode</p>
        </div>
    </div>
</footer>
</body>
</html>
