<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="header">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="stylesheet" href="/vendor/css/pico.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script src="/vendor/js/htmx.min.js"></script>
        <script src="/js/htmx-csrf.js"></script>
        <script src="/js/dommer-bilde-kamera.js"></script>
    </th:block>
</head>
<body th:attr="hx-headers='{&quot;' + ${_csrf.headerName} + '&quot;: &quot;' + ${_csrf.token} + '&quot;}'">

</body>
</html>
