<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <title>Livescore</title>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
<body th:attr="hx-headers='{&quot;' + ${_csrf.headerName} + '&quot;: &quot;' + ${_csrf.token} + '&quot;}'">
<header class="container">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main class="container">
    <section>
        <h1 th:text="'Live score for ' + ${utstilling.getTittel()}"></h1>
        <table class="table">
            <thead>
            <tr>
                <th>Burnummer</th>
                <th>Rase</th>
                <th>Farge</th>
                <th>Variant</th>
                <th>Eier</th>
                <th>Poeng</th>
            </tr>
            </thead>
            <tbody th:fragment="livescore-table"
                   th:hx-get="@{/utstilling/livescore/getduer/{id}(id=${utstillingId})}"
                   hx-trigger="every 30s"
                   hx-swap="outerHTML">
            <tr th:each="due : ${duer}"
                th:if="${due.bedommelse != null}">
                <td th:text="${due.burnummer}"></td>
                <td th:text="${due.rase}"></td>
                <td th:text="${due.farge}"></td>
                <td th:text="${due.variant}"></td>
                <td th:text="${due.paamelding.utstiller.navn}"></td>
                <td th:text="${due.bedommelse.getPoeng()}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<footer class="container">
    <!-- Erstatter diven under med footer fra fragments/footer.html -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
<!-- Minimal theme switcher -->
<script th:src="@{/js/minimal-theme-switcher.js}"></script>
</body>
</html>
