<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="no">
<head>
    <title>Peristeri</title>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
<body th:attr="hx-headers='{&quot;' + ${_csrf.headerName} + '&quot;: &quot;' + ${_csrf.token} + '&quot;}'">
<header class="container">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
</header>
<main class="container">
    <section th:if="${errorMessage}">
        <h1>Feil</h1>
        <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
        <p th:text="${errorMessage}" class="feilmelding">Feilmelding</p>
    </section>
    <section>
        <th:block th:if="${aktivUtstilling}">
            <article th:object="${aktivUtstilling}" th:fragment="aktivUtstilling">
                <header>
                    <h1>Pågående utstilling</h1>
                </header>
                <h2 th:text="*{tittel}"></h2>
                <div class="grid">
                    <p><strong>Arrangør:</strong> <span th:text="*{arrangoer}"></span></p>
                    <p><strong>Sted:</strong> <span th:text="*{adresse}"></span></p>
                </div>
                <p>
                    <strong>Dato:</strong>
                    <span th:text="${#temporals.format(aktivUtstilling.datoRange.startDate, 'dd.MM.yyyy')}"></span>
                    -
                    <span th:text="${#temporals.format(aktivUtstilling.datoRange.endDate, 'dd.MM.yyyy')}"></span>
                </p>
                <p th:text="*{beskrivelse}"></p>
                <footer>
                    <a th:href="@{/utstilling/{id}(id=*{id})}" role="button" class="secondary">Trykk her for å se mer info</a>
                </footer>
            </article>
        </th:block>
        <th:block th:unless="${aktivUtstilling}">
            <article>
                <header>
                    <h1>Ingen pågående utstilling</h1>
                </header>
                <p>Det er ingen pågående utstillinger som er registrert for øyeblikket.</p>
            </article>
        </th:block>
    </section>
    <section>
        <th:block th:replace="~{utstilling/utstilling_fragments :: kommendeListe}"></th:block>
    </section>
    <section>
        <th:block th:replace="~{utstilling/utstilling_fragments :: tidligereListe}"></th:block>
    </section>
</main>
<footer class="container">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>
<!-- Minimal theme switcher -->
<script th:src="@{/js/minimal-theme-switcher.js}"></script>
</body>
</html>
